In [15]:
import pandas as pd
from scipy.interpolate import lagrange#拉格朗日函数
data=pd.read_excel('lagrange.xlsx')
#自定义列向量插值函数
def ploy(s,n,k=14):
    y=s[list(range(n-k,n))+list(range(n+1,n+1+k))]#取数
    y=y[y.notnull()]
    return lagrange(y.index,list(y))(n)
for i in data.columns:
    for j in range(len(data)):
        if(data[i].isnull())[j]:
            data[i][j]=ploy(data[i],j)
data.to_excel('lagrange_1.xls')

In [16]:
data

        data
0   126.6212
1   126.6215
2   126.6217
3   126.6220
4   126.6223
5   126.6225
6   126.6228
7   126.6231
8   126.6233
9   126.6236
10  126.6238
11  126.6241
12  126.6244
13  126.6246
14    0.0000
15  126.6252
16  126.6254
17  126.6257
18  126.6260
19  126.6262
20  126.6265
21  126.6268
22  126.6270
23  126.6273
24  126.6276
25  126.6278
26  126.6281
27  126.6283
28  126.6286
29  126.6289
30  126.6291
31  126.6294
32  126.6297
33  126.6299
34  126.6302
35  126.6305
36  126.6307
37  126.6310
38  126.6313
39  126.6315